{% extends 'base.html' %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Utah Science Seminars</h1>
        <p>Reference the upcoming talks below, or click to see a more expanded list. Sign up to receive twitter notices for all upcoming discussions of science at The University of Utah.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url "talks" %}" role="button">See All Upcoming Talks &raquo;</a>
        <a class="btn btn-primary btn-lg" href="{% url "twittersignup" %}" role="button">Sign Up for Twitter Updates &raquo;</a></p>
      </div>
    </div>
    
    {% endblock %}

{% block content %}
    
    <div class="col-md-4">
          <h2>Membrane Trafficking Interest Group</h2>
          <h4>April 14th, 2013</h4>
          <p><h4>HSEB rm 4100B, 7pm</h4></p>         
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. </p>
          <p><a class="btn btn-default" href="{% url "sampletalk" %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Craig Venter</h2>
          <h4>April 20th, 2013</h4>
          <p><h4>APC rm 1700C, 7:30pm</h4></p>         
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="{% url "sampletalk" %}" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Neil deGrasse Tyson</h2>
          <h4>April 25th, 2013</h4>
          <p><h4>HSEB rm 4100B, 7pm</h4></p>         
          <p>April 30th, 2014. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="{% url "sampletalk" %}" role="button">View details &raquo;</a></p>
        </div>
        


        </div>
        
{% endblock %}