{% extends 'base.html' %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Utah Science Seminars</h1>
        <p>Reference the highlighted upcoming talks below, or click to see a more expanded list. Sign up to receive email notices for all upcoming discussions of science at The University of Utah.</p>
        <p><a class="btn btn-danger btn-lg" href="{% url "talks" %}" role="button">See All Upcoming Talks &raquo;</a>
        <a class="btn btn-danger btn-lg" href="{% url "twittersignup" %}" role="button">Sign Up for Email Updates &raquo;</a></p>
      </div>
    </div>
    
    {% endblock %}

{% block content %}
    
    <div class="col-md-4">
          <h2>Membrane Trafficking Minisymposium</h2>
          <h4>April 24th, 2013</h4>
          <p><h4>HSEB rm 4100B, 7pm</h4></p>         
          <p>Join us for the 8th annual Michael Dustin will be describing the immunologic synapse, John Roberto Cattaneo will describe the measles virus receptor, and Fred Hughson will be describing extreme vesicle formation and trafficking. </p>
          <p><a class="btn btn-default" href="{% url "sampletalk" %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>J. Craig Venter, Phd</h2>
          <h4>April 24th, 2013</h4>
          <p><h4>NHM rm 1700C, 7:30pm</h4></p>         
          <p>Natural History Museum of Utah Lecture Series 2014 Keynote. This is the eighth NHMU Lecture Series presented by the Natural History Museum of Utah. The theme this year is "Pushing the Boundaries of Life" Dr. Venter is a pioneer of the genomics revolution. His work on syntheitic biology truly embodies this years theme and we are pleased to host him.</p>
          <p><a class="btn btn-default" href="{% url "sampletalk" %}" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Neil deGrasse Tyson</h2>
          <h4>April 25th, 2013</h4>
          <p><h4>HSEB rm 4100B, 7pm</h4></p>         
          <p>The Tanner Lecture on Human Values is a distinguished series that instigates educational and scientific discussions relating to human values. The Lectures are held annually at Harvard University, Yale University, and the University of Utah</p>
          <p><a class="btn btn-default" href="{% url "sampletalk" %}" role="button">View details &raquo;</a></p>
        </div>
        


        </div>
        
{% endblock %}