{% extends 'base.html' %}

{% block content %}

<h1>Upcoming Talks</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">April</div>

  <!-- Table -->
  <table class="table">
    {% for category in categories %}
    <tr>
        <td>
            {{ category.Seminar_Title }}
        </td>
        <td>
            {{ category.Presenter }}
        </td>
        <td>
            {{ category.Date }}
        </td>
        <td>
            {{ category.Description }}
        </td>
        <td>
            {{ category.Time_Start }}
        </td>
        <td>
            {{ category.Time_End }}
        </td>
        <td>
            {{ category.Department }}
        </td>
    </tr>
{% endfor %}
  </table>
</div>

{% endblock %}